
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<a name="about"></a>
<div class="intro-header2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <!-- LOLA Logo-->
                    <img src="~/img/logo.png" id="homelogo" />
                    <hr class="intro-divider">
                    <h1>About LOLA</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="container">
    <div class="row">
        <h1>Our Board of Directors</h1>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Lynn.jpg" alt="Generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3> Lynn Richie</h3>
                <p>President</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Karen.jpg" alt="Generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Karen Lenhart</h3>
                <p>Vice President</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Debra.jpg" alt="Generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Debbie Magee</h3>
                <p>Treasurer</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Joanne.jpg" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Joanne Eisch</h3>
                <p>Secretary</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Sandra.jpg" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Sandie Pauly</h3>
                <p>Director</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Susan.jpg" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Susan Ivancevich</h3>
                <p>Director</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Mary.jpg" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Mary Dickson</h3>
                <p>Director</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Barbra.jpg" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Barb LeMoine</h3>
                <p>Director</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/logo.png" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Scott Foster</h3>
                <p>Director</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/logo.png" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Ivan Ivancevich</h3>
                <p>Past President</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Wendy.jpg" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>﻿Wendy Powalisz</h3>
                <p>Program Director</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/img/Board/Stephanie.jpg" alt=" generic placeholder thumbnail">
            </div>

            <div class="caption">
                <h3>Stephanie Cain</h3>
                <p>Director</p>
            </div>
        </div>
    </div>
</div>
<div class="largespacer"></div>
