
@{
    ViewBag.Title = "ArtImpression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro-header10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="intro-message">
                    <!-- LOLA Logo-->
                    <img src="~/img/logo.jpg" id="homelogo" />
                    <hr class="intro-divider">
                    <h1>Art Impressions Event</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="container">
    <h1>About Art Imporessions Event</h1>
    <p>ART IMPRESSIONS, a 33 year annual event, is presented by Land O’ Lakes Area Artisans, Inc. (LOLA), 
    a 501 (c)3 organization supporting the arts in northern Wisconsin and the Upper Peninsula of Michigan.  
    This outdoor art fair is scheduled for Saturday, July 23, 2016, 9:00 a.m. to 3:00 p.m.  Rain or Shine.  
    Music and Refreshments available all day.</p>
    <p><a href="~/docs/ArtImpression_Requirements.pdf">Click here to see the requirements.</a></p>
    <p><a href="~/docs/ArtImpression_Registration.pdf">Click here to print the registration form.</a></p>
</div>

