
@{
    ViewBag.Title = "Media";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/galleria/galleria-1.4.2.min.js"></script>
<script src="~/galleria/themes/classic/galleria.classic.min.js"></script>
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <!-- LOLA Logo-->
                    <img src="~/img/logo.jpg" id="homelogo" />
                    <hr class="intro-divider">
                    <h1>LOLA Media</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="container">
    <div class="col-sm-12">
        <h1>Follow LOLA on Social Media</h1>
       <center><div>
            <img src="~/img/socialicons/facebook.png" />
            <img src="~/img/socialicons/twitter.png" />
            <img src="~/img/socialicons/youtube.png" />
        </div></center>
     </div>
        <div class="largespacer"></div>
        
        <div class="col-lg-12">
            <center><div class="galleria">
                <img src="~/img/galleryimgs/fish_class1.jpg" />
                <img src="~/img/galleryimgs/fish_class2.jpg" />
                <img src="~/img/galleryimgs/Fish_class_3.177180030_large.jpg" />
                <img src="~/img/galleryimgs/Fish_Class_4.177175833_large.jpg" />
                <img src="~/img/galleryimgs/Fish_class_5.177173513_large.jpg" />
                <img src="~/img/galleryimgs/Fish_class_6.177173325_large.jpg" />
                <img src="~/img/galleryimgs/Fish_class_7.177173045_large.jpg" />
                <img src="~/img/galleryimgs/Pastels_1.177172425_large.jpg" />
                <img src="~/img/galleryimgs/Pastels_2.177172302_large.jpg" />
                <img src="~/img/galleryimgs/Pastels_3.177172009_large.jpg" />
                <img src="~/img/galleryimgs/Pastels_4.177171842_large.jpg" />
                <img src="~/img/galleryimgs/Pastels_4.177172611_large.jpg" />
                <img src="~/img/galleryimgs/Pastels_6.177171724_large.jpg" />
                <img src="~/img/galleryimgs/Pastels_7.177171534_large.jpg" />
            </div></center>
            <script>
                Galleria.loadTheme();
                Galleria.run('.galleria');
            </script>
        </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>