
@{
    ViewBag.Title = "Scholarship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<a name="about"></a>
<div class="intro-header13">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <!-- LOLA Logo-->
                    <img src="~/img/logo.jpg" id="homelogo" />
                    <hr class="intro-divider">
                    <h1>Scholarships</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="container">
    <div class="col-md-5 skyblue">
        <h4>Artical About LOLA Scholarships</h4>
        <p>Land O’ Lakes Area Artisans (LOLA) gave scholarships to three local students to attend 
        UW-Stevens Point Camp College of Fine Arts and Communication (COFAC) in June. </p>
        <p>The LOLA board of directors recently met with the three students to hear about their experience.
        Luke Simons, Grace Stevens and Eddie Stevens, all of Land O’ Lakes, reported that they each took away 
        some valuable lessons from their experience.Camp COFAC is an intensive music immersion experience at 
        UW-Stevens Point, offered by the College of Fine Arts and Communication. The camp is open to students 
        entering grades nine through 12, as well as graduating seniors.</p>
        <p>The camp is directed by Mathew Buchman of the UW-Steve ns Point Department of Music and is held 
        for a week each June.“As a part of this year’s camp, the young musicians were enrolled in a group 
        choir. For these students who normally play instruments, singing was a first, but resulted in a new 
        understanding of the voice as an instrument,” said LOLA President Lynn Richie. </p>
        <p>The students also learned about composing music, correct techniques for playing their instruments 
        and participated in jazz bands, where no sheet music was allowed. “Overall, the three students enjoyed 
        their time at camp and all would participate again if able,” added Richie. Grace Stevens stated, 
        “It was a place where I could meet other children who were as serious about music as I am. I learned 
        so much from the professors that I won’t forget.”</p>
        <p>To inquire about LOLA scholarships, contact the LOLA office at (715) 547-3950.</p>
    </div>
    <div class="col-sm-6" id="scholarPicCont">
        <center><img id="scholarPic" src="~/img/scholar.jpg" /></center>
    </div>
</div>
