@model LOLAWebsite.Models.Event_Feedback
@using LOLAWebsite.Models;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Event Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <!-- LOLA Logo-->
                    <img src="~/img/logo.png" id="homelogo" />
                    <hr class="intro-divider">
                    <h1>Event Feedback</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Accounts navigation bar -->
@Html.Partial("_AccountsNavBarPartial")
<!-- /accounts navigation bar -->

<div class="container">
    <div class="col-sm-4">

        <p>At LOLA we encourge you to leave feedback for the events you have attended.</p>
    </div>

    <div class="col-md-8">
        @using (Html.BeginForm("EventFeedback", "UserAccounts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-10">How did you hear about this event?</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Event_Marketing, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">Rating</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Event_Rating, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">Leave your comment in the box below:</div>
                <div class="col-md-10">
                    <textarea class="form-control" rows="4" name="Student_Comment"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                </div>
            </div>
        }
    </div>

</div>
